@charset "UTF-8";

@import 'mixin.less';
@import '01-main.less';
@import '06-structura.less';
@import '02-items.less';
@import '03-content.less';
@import '04-inputs.less';
@import '05-forms.less';
@import 'common.less';
@import 'fonts.less';
/* ----------------------------------- *\
			icons
\* ----------------------------------- */
//@import 'icons.less';
//@import 'animate.less';


/* submenu header */
.header {
	.menu-inner-wrap {
		.menu {
			.menu {
				.btn-menu {
					white-space: normal;
					padding: 4px 15px;
					height: auto;
				}
			}
		}
	}
}
@media (max-width: 1023px) {
	.header {
		.menu-inner-wrap {
			.menu-content-block {
				max-height: calc(100dvh - 100px);
				overflow-y: auto;
				overflow-x: hidden;
				scrollbar-width: none;
				-ms-overflow-style: none;
				&::-webkit-scrollbar {
					width: 0;
					height: 0;
				}
			}
			.menu {
				.menu {
					position: relative;
					height: 0;
					overflow: hidden;
					interpolate-size: allow-keywords;
					transition: all ease 0.2s;
					display: block;
					font-size: 0.8em;
				}
			}
			.open {
				&>.btn-menu {
					color: var(--clr-att);
				}
				.menu {
					height: auto;
					padding: 0 0 15px 0;
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	.header {
		.menu-inner-wrap {
			.menu {
				.menu {
					display: none;
					animation: fadein ease 0.2s;
					position: absolute;
					top: 100%;left: 50%;
					transform: translateX(-50%);
					width: 240px;
					min-width: 100%;
					z-index: 20;
					text-align: center;
					padding: 30px 0 15px 0;
					margin: 0;
					&:before {
						content: "";
						display: block;
						position: absolute;
						top: 15px;
						bottom: 0;
						left: 0;
						right: 0;
						border-radius: var(--mainRadius);
						box-shadow: 0 0 10px fade(#000, 20);
						background: #fff;
					}
				}
			}
			li {
				&:hover {
					.menu {
						display: block;
					}
				}
			}
		}
	}
}
/* end submenu header */