
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<!--footer-main-panel-->
		<div class="footer-main-panel">
			<div class="info-inner-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo-footer.svg" alt="">
					</a>
				</div>
				<div class="contacts-wrap">
					<div class="phones-wrap">
						<div class="footer-title">Телефоны</div>
						<div class="phone-wrap">
							<a href="tel:84955145350" class="btn-menu">+7 (495) 514-53-50</a>
						</div>
						<div class="phone-wrap">
							<a href="tel:89160889911" class="btn-menu">+7 (916) 0889-911</a>
						</div>
						<div class="phone-wrap">
							<a href="tel:89255145350" class="btn-menu">+7 (925) 514-53-50</a>
						</div>
					</div>
					<div class="soc-wrap">
						<div class="footer-title">Соцсети</div>
						<div class="soc-buttons-wrap">
							<a href="" class="btn-action-ico button-soc">
								<img src="./img/icons/soc-vk-ico.svg" alt="">
							</a>
							<a href="" class="btn-action-ico button-soc">
								<img src="./img/icons/soc-tg-ico.svg" alt="">
							</a>
						</div>
					</div>
				</div>
				<div class="info-wrap">
					<p>Работаем круглосуточно по Москве и МО <br>Время приезда мастера от 20 минут</p>
				</div>
			</div>
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="footer-title">Наши услуги</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Вскрытие автомобилей</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Вскрытие сейфов в Москве</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Вскрытие дверей квартир</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Вскрытие гаражей в Москве</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Услуга: прикурить автомобиль</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Отказ от вскрытия замков</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="footer-title">Информация</div>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Вопрос — ответ</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Интересные статьи</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Отзывы о нашей работе</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Новости вскрытия замков</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О нас — Служба Zamok01</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="shield-inner-wrap">
				<div class="footer-title">ZAMOK01  входит в&nbsp;состав АССОСОД</div>
				<div class="elm-photo">
					<img src="./img/main/shield.png" alt="">
				</div>
				<div class="footer-title">Российская ассоциация специалистов сервисного обслуживания систем ограничения доступа</div>
			</div>
		</div>
		<!--/footer-main-panel-->
		<!--footer-bottom-panel-->
		<div class="footer-bottom-panel">
			<div class="info-wrap wrap-main">
				<p>@ Copyright 2006-2025 <a href="" class="link-main">Zamok01 - вскрытие замков в Москве без повреждений</a></p>
			</div>
			<div class="info-inner-wrap">
				<div class="info-wrap">
					<p><a href="">Политика конфиденциальности</a></p>
				</div>
				<div class="info-wrap">
					<p><a href="">Карта сайта</a></p>
				</div>
				<div class="info-wrap">
					<p>Создано: <a href="">Вебуспех</a></p>
				</div>
			</div>
		</div>
		<!--/footer-bottom-panel-->
	</div>
</footer>
<!-- /footer -->

