
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="mobile-panel-wrap">
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-vk.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-wa.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
			</div>
			<div class="callback-wrap">
				<a href="" class="btn">
					<div class="button-title">Перезвоните мне</div>
				</a>
			</div>
		</div>
		<div class="menu-inner-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
			<div class="menu-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">О нас</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Отзывы</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Подмосковье</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Цены</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Контакты</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="contacts-wrap">
					<div class="cnt-wrap">
						<a href="tel:84955145350" class="link-phone">+7 (495) 514-53-50</a>
					</div>
					<div class="cnt-wrap">
						<a href="mailto:zamok-01(a)yandex.ru" class="link-email">zamok-01(a)yandex.ru</a>
					</div>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-vk.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-tg.svg" alt="">
					</a>
				</div>
				<div class="callback-wrap">
					<a href="" class="btn">
						<div class="button-title">Перезвоните мне</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->
 