<div class="popup-outer-box" id="popup-callback">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<form action="/" class="form-box">
				<div class="frm-title-wrap">
					<div class="frm-title h1-title title-small-d">Заказать звонок</div>
				</div>
				<div class="frm-content-wrap">
					<div class="frm-row">
						<div class="frm-field">
							<input type="text" class="form-input" placeholder="Ваше имя">
						</div>
						<div class="frm-field">
							<input type="tel" class="form-input" placeholder="Ваш телефон">
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<textarea class="form-input" placeholder="Текст сообщения"></textarea>
						</div>
					</div>
					<div class="frm-row-submit">
						<div class="frm-field field-info">
							<div class="frm-select">
								<input type="checkbox" id="popup">
								<label for="popup">Даю согласие на обработку <a href="" class="link-main">персональных данных</a></label>
							</div>
						</div>
						<div class="frm-field field-submit">
							<button type="submit" class="btn">
								<div class="button-title">Отправить</div>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->